{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/gymggun.png' %}">
    <title>짐꾼</title>
    <!-- Custom CSS -->
    <link href="{% static 'assets/libs/chartist/dist/chartist.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/libs/fullcalendar/dist/fullcalendar.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/extra-libs/datatables.net-bs4/css/dataTables.bootstrap4.css' %}" rel="stylesheet" />
    <link href="{% static 'dist/css/style.min.css' %}" rel="stylesheet">
    <script src="{% static 'dist/js/includeHTML.js' %}"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin6">
            <nav class="navbar top-navbar navbar-expand-md">
                <div class="navbar-header" data-logobg="skin6">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                            class="ti-menu ti-close"></i></a>
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <div class="navbar-brand">
                        <!-- Logo icon -->
                        <a href="{% url 'home' %}">
                            <!--End Logo icon -->
                            <!-- Logo text -->
                            <span class="logo-text" style="font-size: 30px">
                                <!-- dark Logo text -->
                                <img src="{% static 'assets/images/logo-text.png' %}" alt="homepage" class="dark-logo" style="width: 200px;"/>
                                <!-- Light Logo text -->
                                <!-- <img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage" /> -->
                            </span>
                        </a>
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                        data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i
                            class="ti-more"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-left mr-auto ml-3 pl-1" style="width: 100%; justify-content: flex-end;">
                        <!-- Notification -->
                        
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <img src="{% static 'assets/images/users/profile-pic.jpg' %}" alt="user" class="rounded-circle"
                                    width="40">
                                <span class="ml-2 d-none d-lg-inline-block"><span>Hello,</span> <span
                                        class="text-dark" >{{user.username}}</span> <i data-feather="chevron-down"
                                        class="svg-icon"></i></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                                <a class="dropdown-item" href="javascript:void(0)"><i data-feather="user"
                                        class="svg-icon mr-2 ml-1"></i>
                                    My Profile</a>
                                <a class="dropdown-item" href="javascript:void(0)"><i data-feather="credit-card"
                                        class="svg-icon mr-2 ml-1"></i>
                                    My Balance</a>
                                <a class="dropdown-item" href="javascript:void(0)"><i data-feather="mail"
                                        class="svg-icon mr-2 ml-1"></i>
                                    Inbox</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0)"><i data-feather="settings"
                                        class="svg-icon mr-2 ml-1"></i>
                                    Account Setting</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0)"><i data-feather="power"
                                        class="svg-icon mr-2 ml-1"></i>
                                    Logout</a>
                                <div class="dropdown-divider"></div>
                                <div class="pl-4 p-3"><a href="javascript:void(0)" class="btn btn-sm btn-info">View
                                        Profile</a></div>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar" data-sidebarbg="skin6">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="{% url 'home' %}"
                                aria-expanded="false"><i data-feather="home" class="feather-icon"></i><span
                                    class="hide-menu">Home</span></a></li>

                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="{% url 'community' %}"
                                aria-expanded="false"><i data-feather="star" class="feather-icon"></i><span
                                        class="hide-menu">Community</span></a></li>
                    
                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">Information for you</span></li>
                        <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                aria-expanded="false"><i data-feather="list" class="feather-icon"></i><span
                                    class="hide-menu">가슴 </span></a>
                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item"><a href="{% url 'chest' %}" class="sidebar-link"><span
                                            class="hide-menu"> Bench press
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="#" class="sidebar-link"><span
                                            class="hide-menu"> Dumbbell press
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="#" class="sidebar-link"><span
                                            class="hide-menu"> Push up
                                        </span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                aria-expanded="false"><i data-feather="list" class="feather-icon"></i><span
                                    class="hide-menu">어깨 </span></a>
                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item"><a href="{% url 'shoulder' %}" class="sidebar-link"><span
                                            class="hide-menu"> Shoulder press
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="#" class="sidebar-link"><span
                                            class="hide-menu"> Bebind the neck press
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="#" class="sidebar-link"><span
                                            class="hide-menu"> Front raise
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="#" class="sidebar-link"><span
                                            class="hide-menu"> Side lateral raise
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="#" class="sidebar-link"><span
                                            class="hide-menu"> Planche push up
                                        </span></a>
                                </li>
                            </ul>
                        </li>
                        
                        <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                aria-expanded="false"><i data-feather="list" class="feather-icon"></i><span
                                    class="hide-menu">등 </span></a>
                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item"><a href="{% url 'back' %}" class="sidebar-link"><span
                                            class="hide-menu"> Dead lift
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="#" class="sidebar-link"><span
                                            class="hide-menu"> Barbell row
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="#" class="sidebar-link"><span
                                            class="hide-menu">
                                            Pull up
                                        </span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                            aria-expanded="false"><i data-feather="list" class="feather-icon"></i><span
                                class="hide-menu">하체 </span></a>
                        <ul aria-expanded="false" class="collapse  first-level base-level-line">
                            <li class="sidebar-item"><a href="{% url 'leg' %}" class="sidebar-link"><span
                                        class="hide-menu"> Squat
                                    </span></a>
                            </li>
                            <li class="sidebar-item"><a href="#" class="sidebar-link"><span
                                        class="hide-menu"> Lunge
                                    </span></a> 
                            </li>
                        </ul>
                        </li>
                        <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                            aria-expanded="false"><i data-feather="list" class="feather-icon"></i><span
                                class="hide-menu">이두 </span></a>
                        <ul aria-expanded="false" class="collapse  first-level base-level-line">
                            <li class="sidebar-item"><a href="{% url 'arm' %}" class="sidebar-link"><span
                                        class="hide-menu"> Barbell curl
                                    </span></a>
                            </li>
                            <li class="sidebar-item"><a href="#" class="sidebar-link"><span
                                        class="hide-menu"> Dumbbell curl
                                    </span></a>
                            </li>
                            <li class="sidebar-item"><a href="#" class="sidebar-link"><span
                                        class="hide-menu">
                                        Hammer curl
                                    </span></a>
                            </li>
                        </ul>
                        </li>
                        <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                            aria-expanded="false"><i data-feather="list" class="feather-icon"></i><span
                                class="hide-menu">삼두 </span></a>
                        <ul aria-expanded="false" class="collapse  first-level base-level-line">
                            <li class="sidebar-item"><a href="{% url 'backArm' %}" class="sidebar-link"><span
                                        class="hide-menu"> Dips
                                    </span></a>
                            </li>
                            <li class="sidebar-item"><a href="#" class="sidebar-link"><span
                                        class="hide-menu"> Triceps Extension
                                    </span></a>
                            </li>
                        </ul>
                        </li>
                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">set plan</span></li>
                    
                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="{% url 'setRoutine' user.id %}"
                                aria-expanded="false"><i data-feather="server" class="feather-icon"></i><span
                                    class="hide-menu">나만의 운동 루틴
                                </span></a>
                        </li>
                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link"
                                href="{% url 'diet' user.id %}" aria-expanded="false"><i data-feather="info"
                                    class="feather-icon"></i><span class="hide-menu">나만의 식단 관리
                                </span></a>
                        </li>
                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">Authentication</span></li>
                    
                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="{% url 'login' %}"
                                aria-expanded="false"><i data-feather="lock" class="feather-icon"></i><span
                                    class="hide-menu">로그인
                                </span></a>
                        </li>
                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link"
                                href="{% url 'signup' %}" aria-expanded="false"><i data-feather="lock"
                                    class="feather-icon"></i><span class="hide-menu">회원가입
                                </span></a>
                        </li>
                    
                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">Extra</span></li>
                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="{% url 'logout' %}"
                                aria-expanded="false"><i data-feather="log-out" class="feather-icon"></i><span
                                    class="hide-menu">로그아웃</span></a></li>
                    </ul>
                </nav>            <!-- End Sidebar scroll-->
        </aside>      
            <!-- ============================================================== -->
            <!-- End Left Sidebar - style you can find in sidebar.scss  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Page wrapper  -->
            <!-- ============================================================== -->
            <div class="page-wrapper">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="page-breadcrumb">
                    <div class="row">
                        <div class="col-7 align-self-center">
                            <h4 class="page-title text-truncate text-dark font-weight-medium mb-1" style="font-size: 25px;">{{user.username}}'s Food Diary</h4>
                            <div class="d-flex align-items-center" style="margin-top: 20px">
                                <div class="btn-list">
                                    <button type="button" class="btn waves-effect waves-light btn-rounded btn-secondary">아침</button>
                                    <button type="button" class="btn waves-effect waves-light btn-rounded btn-outline-danger">점심</button>
                                    <button type="button" class="btn waves-effect waves-light btn-rounded btn-outline-success">저녁</button>
                                    <button type="button" class="btn waves-effect waves-light btn-rounded btn-outline-info">간식</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-5 customize-input float-right" style="font-size: x-large">
                            <i class="icon-plus float-right"></i>
                            <i class="icon-user float-right" style="padding-right: 8px"></i>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Container fluid  -->
                <!-- ============================================================== -->
                <!-- 1 -->
                <div class="container-fluid" style="padding-top: 20px">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="customize-input float-right">
                                        <select class="custom-select custom-select-set form-control bg-white border-0 custom-shadow custom-radius" id="dietSelect">
                                            <option value="1">근력 향상</option>
                                            <option value="2">체중 증량</option>
                                            <option value="3">체중 감량</option>
                                        </select>
                                    </div>
                                    <h4 class="card-title">식단 추천</h4>
                                    <h6 class="card-subtitle"><i class="mr-1 font-18 mdi mdi-numeric-2-box-multiple-outline"></i> 나의 목적에 맞는 식단 추천</h6>
                                    <div class="table-responsive">
                                        <table id="zero_config" class="table table-striped table-bordered no-wrap value1">
                                            <thead>
                                                <tr>
                                                    <th>음식</th>
                                                    <th>양</th>
                                                    <th>칼로리</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>오트밀</td>
                                                    <td>50g</td>
                                                    <td>186 kcal</td>
                                                </tr>
                                                <tr>
                                                    <td>바나나</td>
                                                    <td>1개</td>
                                                    <td>105 kcal</td>
                                                </tr>
                                                <tr>
                                                    <td>프로틴</td>
                                                    <td>25g</td>
                                                    <td>98 kcal</td>
                                                </tr>
                                                <tr>
                                                    <td>아몬드</td>
                                                    <td>10알</td>
                                                    <td>70 kcal</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table id="zero_config" class="table table-striped table-bordered no-wrap value2" style="display: none;">
                                            <thead>
                                                <tr>
                                                    <th>음식</th>
                                                    <th>양</th>
                                                    <th>칼로리</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>밥</td>
                                                    <td>1.5공기</td>
                                                    <td>450 kcal</td>
                                                </tr>
                                                <tr>
                                                    <td>고등어구이</td>
                                                    <td>1토막</td>
                                                    <td>190 kcal</td>
                                                </tr>
                                                <tr>
                                                    <td>계란프라이</td>
                                                    <td>2개</td>
                                                    <td>240 kcal</td>
                                                </tr>
                                                <tr>
                                                    <td>아몬드</td>
                                                    <td>10알</td>
                                                    <td>70 kcal</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table id="zero_config" class="table table-striped table-bordered no-wrap value3" style="display: none;">
                                            <thead>
                                                <tr>
                                                    <th>음식</th>
                                                    <th>양</th>
                                                    <th>칼로리</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>닭가슴살</td>
                                                    <td>100g</td>
                                                    <td>164 kcal</td>
                                                </tr>
                                                <tr>
                                                    <td>사과</td>
                                                    <td>1개</td>
                                                    <td>150 kcal</td>
                                                </tr>
                                                <tr>
                                                    <td>두유</td>
                                                    <td>1컵</td>
                                                    <td>110 kcal</td>
                                                </tr>
                                                <tr>
                                                    <td>오이</td>
                                                    <td>1개</td>
                                                    <td>18 kcal</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
                    <script>
                        console.log('script');
                        $('#dietSelect').change(function(){
                            if($(this).val()=="1")
                            {
                                $('.value1').show();
                                $('.value2').hide();
                                $('.value3').hide();
                            }
                            else if($(this).val()=="2")
                            {
                                $('.value1').hide();
                                $('.value2').show();
                                $('.value3').hide();
                            }
                            else
                            {
                                $('.value1').hide();
                                $('.value2').hide();
                                $('.value3').show();
                            }
                        })
                    </script>

                    <div class="row" >
                        <div class="col-12 mt-4">
                            <div class="card-columns" style="column-count: 1">
                                <h4 class="card-title">오늘의 식사</h4>
                                <!-- Card -->
                                <div class="card">
                                    <div style="display: flex; flex-direction: row">
                                        <img class="card-img-top img-fluid w-50" src="{% static 'assets/images/big/chicken-salad.jpeg' %}" alt="Card image cap" />
                                        <div class="card-body" style="display: flex; flex-direction: column; justify-content: space-between">
                                            <div style="color: black">
                                                <p class="card-text">카프레제 샐러드</p>
                                                <p>
                                                    <b>평점</b><br />
                                                    <div class="float-left">
                                                        <button type="button" class="btn waves-effect waves-light btn-circle btn-outline-success">1</button>
                                                        <button type="button" class="btn waves-effect waves-light btn-circle btn-outline-success">2</button>
                                                        <button type="button" class="btn waves-effect waves-light btn-circle btn-outline-success">3</button>
                                                        <button type="button" class="btn waves-effect waves-light btn-circle btn-success">4</button>
                                                        <button type="button" class="btn waves-effect waves-light btn-circle btn-outline-success">5</button>
                                                    </div>
                                                    <br/><br/><br/><br/>
                                                    <b>식사 시간</b><br/>
                                                    <div class="col-sm-9 col-md-3 col-lg-10">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <form>
                                                                    <select multiple class="form-control" id="exampleFormControlSelect2">
                                                                        <option>07:00</option>
                                                                        <option>08:00</option>
                                                                        <option>09:00</option>
                                                                        <option>10:00</option>
                                                                        <option>11:00</option>
                                                                    </select>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 mt-4 col-lg-8">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">식단 기록</h4>
                                    <table class="table" style="text-align: center;">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">음식</th>
                                                <th scope="col">양</th>
                                                <th scope="col">칼로리</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for diet in diets %}
                                            <tr>
                                                <th scope="col">{{forloop.counter}}</th>
                                                <td>{{diet.food}}</td>
                                                <td>{{diet.amount}}</td>
                                                <td>{{diet.kcal}} kcal</td>
                                                <td style="padding: 0; vertical-align: middle;"><a class="btn btn-primary" href="{% url 'deleteDiet' user_id=user.id diet_id=diet.id %}" style="float: right;">삭제</a></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <form method="POST" action="{% url 'addDiet' user.id %}">
                                        {% csrf_token %}
                                        <table class="table" style="margin-bottom: 0;">
                                            <tbody>
                                                <tr>
                                                    <td><input id="food" name="food" placeholder="음식" class="form-control border-0" type="text" style="padding: 0; height: auto;" /></td>
                                                    <td><input id="amount" name="amount" placeholder="양" class="form-control border-0" type="text" style="padding: 0; height: auto" /></td>
                                                    <td><input id="kcal" name="kcal" placeholder="칼로리" class="form-control border-0" type="number" style="padding: 0; height: auto;" /></td>
                                                    <td style="padding: 0; vertical-align: middle;"><button class="btn btn-primary" type="submit" style="float: right;">추가</button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 mt-4">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">영양성분 비율</h4>
                                    <div id="campaign-v2" class="mt-2" style="height:283px; width:100%;"></div>
                                    <ul class="list-style-none mb-0">
                                        <li>
                                            <i class="fas fa-circle text-primary font-10 mr-2"></i>
                                            <span class="text-muted">단백질</span>
                                            <span class="text-dark float-right font-weight-medium">20g</span>
                                        </li>
                                        <li class="mt-3">
                                            <i class="fas fa-circle text-danger font-10 mr-2"></i>
                                            <span class="text-muted">탄수화물</span>
                                            <span class="text-dark float-right font-weight-medium">30g</span>
                                        </li>
                                        <li class="mt-3">
                                            <i class="fas fa-circle text-cyan font-10 mr-2"></i>
                                            <span class="text-muted">지방</span>
                                            <span class="text-dark float-right font-weight-medium">10g</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    

                    </div>
            </div>
        </div>
            <!-- ============================================================== -->
            <!-- End Page wrapper  -->
            <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- End Wrapper -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- All Jquery -->
        <!-- ============================================================== -->
        <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'assets/extra-libs/taskboard/js/jquery.ui.touch-punch-improved.js' %}"></script>
        <script src="{% static 'assets/extra-libs/taskboard/js/jquery-ui.min.js' %}"></script>
        <script src="{% static 'assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
        <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <!-- apps -->
        <script src="{% static 'dist/js/app-style-switcher.js' %}"></script>
        <script src="{% static 'dist/js/feather.min.js' %}"></script>
        <script src="{% static 'assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
        <script src="{% static 'dist/js/sidebarmenu.js' %}"></script>
        <!--Custom JavaScript -->
        <script src="{% static 'dist/js/custom.min.js' %}"></script>
        <!--This page JavaScript -->
    <script src="{% static 'assets/extra-libs/c3/d3.min.js' %}"></script>
    <script src="{% static 'assets/extra-libs/c3/c3.min.js' %}"></script>
    <script src="{% static 'assets/libs/chartist/dist/chartist.min.js' %}"></script>
    <script src="{% static 'assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js' %}"></script>
    <script src="{% static 'assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js' %}"></script>
    <script src="{% static 'assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script src="{% static 'dist/js/pages/dashboards/dashboard1.min.js' %}"></script>
    </body>
</html>
