{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/gymggun.png' %}">
    <title>짐꾼</title>
    <!-- Custom CSS -->
    <link href="{% static 'dist/css/style.min.css' %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
        <script>
            function showroutine(){
                var table = document.getElementById('new_routine').style.visibility="visible";
            }
        </script>

</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin6">
            <nav class="navbar top-navbar navbar-expand-md">
                <div class="navbar-header" data-logobg="skin6">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                            class="ti-menu ti-close"></i></a>
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <div class="navbar-brand">
                        <!-- Logo icon -->
                        <a href="index.html">
                            <!-- Logo text -->
                            <span class="logo-text" style="font-size: 30px">
                                <!-- dark Logo text -->
                                <img src="{% static 'assets/images/logo-text.png' %}" alt="homepage" class="dark-logo" style="width: 200px;"/>
                                <!-- Light Logo text -->
                                <!-- <img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage" /> -->
                            </span>
                        </a>
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                        data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i
                            class="ti-more"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-left mr-auto ml-3 pl-1" style="width: 100%; justify-content: flex-end;">
                        <!-- Notification -->
                        
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <img src="{% static 'assets/images/users/profile-pic.jpg' %}" alt="user" class="rounded-circle"
                                    width="40">
                                <span class="ml-2 d-none d-lg-inline-block"><span>Hello,</span> <span
                                        class="text-dark">Lee Jin Gyu</span> <i data-feather="chevron-down"
                                        class="svg-icon"></i></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                                <a class="dropdown-item" href="javascript:void(0)"><i data-feather="user"
                                        class="svg-icon mr-2 ml-1"></i>
                                    My Profile</a>
                                <a class="dropdown-item" href="javascript:void(0)"><i data-feather="credit-card"
                                        class="svg-icon mr-2 ml-1"></i>
                                    My Balance</a>
                                <a class="dropdown-item" href="javascript:void(0)"><i data-feather="mail"
                                        class="svg-icon mr-2 ml-1"></i>
                                    Inbox</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0)"><i data-feather="settings"
                                        class="svg-icon mr-2 ml-1"></i>
                                    Account Setting</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0)"><i data-feather="power"
                                        class="svg-icon mr-2 ml-1"></i>
                                    Logout</a>
                                <div class="dropdown-divider"></div>
                                <div class="pl-4 p-3"><a href="javascript:void(0)" class="btn btn-sm btn-info">View
                                        Profile</a></div>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar" data-sidebarbg="skin6">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="http://127.0.0.1:8000/home/"
                                aria-expanded="false"><i data-feather="home" class="feather-icon"></i><span
                                    class="hide-menu">Home</span></a></li>
                        
                                    <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="http://127.0.0.1:8000/home/community"
                                        aria-expanded="false"><i data-feather="star" class="feather-icon"></i><span
                                                class="hide-menu">Community</span></a></li>
                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">Information for you</span></li>
                        <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                aria-expanded="false"><i data-feather="list" class="feather-icon"></i><span
                                    class="hide-menu">가슴 </span></a>
                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item"><a href="http://127.0.0.1:8000/home/chest" class="sidebar-link"><span
                                            class="hide-menu"> Bench press
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="form-input-grid.html" class="sidebar-link"><span
                                            class="hide-menu"> Dumbbell press
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="form-checkbox-radio.html" class="sidebar-link"><span
                                            class="hide-menu"> Push up
                                        </span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                aria-expanded="false"><i data-feather="list" class="feather-icon"></i><span
                                    class="hide-menu">어깨 </span></a>
                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item"><a href="http://127.0.0.1:8000/home/shoulder" class="sidebar-link"><span
                                            class="hide-menu"> Shoulder press
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="table-dark-basic.html" class="sidebar-link"><span
                                            class="hide-menu"> Bebind the neck press
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="table-sizing.html" class="sidebar-link"><span
                                            class="hide-menu"> Front raise
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="table-layout-coloured.html" class="sidebar-link"><span
                                            class="hide-menu"> Side lateral raise
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="table-datatable-basic.html" class="sidebar-link"><span
                                            class="hide-menu"> Planche push up
                                        </span></a>
                                </li>
                            </ul>
                        </li>
                        
                        <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                aria-expanded="false"><i data-feather="list" class="feather-icon"></i><span
                                    class="hide-menu">등 </span></a>
                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item"><a href="http://127.0.0.1:8000/home/back" class="sidebar-link"><span
                                            class="hide-menu"> Dead lift
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="chart-chart-js.html" class="sidebar-link"><span
                                            class="hide-menu"> Barbell row
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="chart-knob.html" class="sidebar-link"><span
                                            class="hide-menu">
                                            Pull up
                                        </span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                            aria-expanded="false"><i data-feather="list" class="feather-icon"></i><span
                                class="hide-menu">하체 </span></a>
                        <ul aria-expanded="false" class="collapse  first-level base-level-line">
                            <li class="sidebar-item"><a href="http://127.0.0.1:8000/home/leg" class="sidebar-link"><span
                                        class="hide-menu"> Squat
                                    </span></a>
                            </li>
                            <li class="sidebar-item"><a href="chart-chart-js.html" class="sidebar-link"><span
                                        class="hide-menu"> Lunge
                                    </span></a> 
                            </li>
                        </ul>
                        </li>
                        <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                            aria-expanded="false"><i data-feather="list" class="feather-icon"></i><span
                                class="hide-menu">이두 </span></a>
                        <ul aria-expanded="false" class="collapse  first-level base-level-line">
                            <li class="sidebar-item"><a href="http://127.0.0.1:8000/home/arm" class="sidebar-link"><span
                                        class="hide-menu"> Barbell curl
                                    </span></a>
                            </li>
                            <li class="sidebar-item"><a href="chart-chart-js.html" class="sidebar-link"><span
                                        class="hide-menu"> Dumbbell curl
                                    </span></a>
                            </li>
                            <li class="sidebar-item"><a href="chart-knob.html" class="sidebar-link"><span
                                        class="hide-menu">
                                        Hammer curl
                                    </span></a>
                            </li>
                        </ul>
                        </li>
                        <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                            aria-expanded="false"><i data-feather="list" class="feather-icon"></i><span
                                class="hide-menu">삼두 </span></a>
                        <ul aria-expanded="false" class="collapse  first-level base-level-line">
                            <li class="sidebar-item"><a href="http://127.0.0.1:8000/home/back-arm" class="sidebar-link"><span
                                        class="hide-menu"> Dips
                                    </span></a>
                            </li>
                            <li class="sidebar-item"><a href="chart-chart-js.html" class="sidebar-link"><span
                                        class="hide-menu"> Triceps Extension
                                    </span></a>
                            </li>
                        </ul>
                        </li>
                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">set plan</span></li>
                    
                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="http://127.0.0.1:8000/home/set-routine"
                                aria-expanded="false"><i data-feather="server" class="feather-icon"></i><span
                                    class="hide-menu">나만의 운동 루틴
                                </span></a>
                        </li>
                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link"
                                href="http://127.0.0.1:8000/home/diet" aria-expanded="false"><i data-feather="info"
                                    class="feather-icon"></i><span class="hide-menu">나만의 식단 관리
                                </span></a>
                        </li>
                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">Authentication</span></li>
                    
                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="http://127.0.0.1:8000/home/login"
                                aria-expanded="false"><i data-feather="lock" class="feather-icon"></i><span
                                    class="hide-menu">로그인
                                </span></a>
                        </li>
                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link"
                                href="http://127.0.0.1:8000/home/signup" aria-expanded="false"><i data-feather="lock"
                                    class="feather-icon"></i><span class="hide-menu">회원가입
                                </span></a>
                        </li>
                    
                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">Extra</span></li>
                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="http://127.0.0.1:8000/home/login"
                                aria-expanded="false"><i data-feather="log-out" class="feather-icon"></i><span
                                    class="hide-menu">로그아웃</span></a></li>
                    </ul>
                </nav>            <!-- End Sidebar scroll-->
        </aside>        
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        
        
        <div class="page-wrapper">
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-7 align-self-center">
                        <h4 class="page-title text-truncate text-dark font-weight-medium mb-1" style="font-size:30px;">Set your routine!</h4>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb m-0 p-0">
                                    <li class="breadcrumb-item"><a class="text-muted">나만의 운동루틴을 설정하자</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- 운동목적 설정 -->
            <div class="row">
                <div class="col-9 mt-4 ">
                    <div class="card">
                        <div class="card-body">
                            <div class="row"> 
                                <h4 class="card-title">Purpose  </h4>
                                    <input type="checkbox" name="purpose" value="purpose1"/>근육증가
                                    <input type="checkbox" name="purpose" value="purpose2"/>다이어트
                                    <input type="checkbox" name="purpose" value="purpose3"/>체력증진
                            </div>
                <!-- 운동빈도 설정 -->
                    
                            <div class="row">
                                <h4 class="card-title">Frequency  </h4>
                                <input type="checkbox" name="frequency" value="frequency1"/>주 3회
                                <input type="checkbox" name="frequency" value="frequency2"/>주 4회
                                <input type="checkbox" name="frequency" value="frequency3"/>주 5회
                            </div>
                <!-- 운동부위 설정 -->
                
                            <div class="row">
                                <h4 class="card-title">Wanted  </h4>
                                <input type="checkbox" name="wanted" value="wanted1" checked="checked" />가슴
                                <input type="checkbox" name="wanted" value="wanted2" checked="checked"/>어깨
                                <input type="checkbox" name="wanted" value="wanted3" checked="checked"/>등
                                <input type="checkbox" name="wanted" value="wanted4" checked="checked"/>하체
                            </div>
                        </div>
                        <!-- <button onclick="calRoutine()">aaa</button> -->
                        <td style=" padding: 0; vertical-align: middle;"><a class="btn btn-primary" onclick="calRoutine()" style="float: right; color: #FFF;">루틴 확인하기</a></td>
                    </div>
                </div>
                <!-- 체크박스에 따라 속성을 변수값에 저장 -->
            
                <!-- <div id = "main_wanted"></div> -->
            <div class="row">
                <div class="col-12 mt-4 ">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Recommanded</h4>
                            <div>
                                Chest : <span id="chestS"></span><br>
                                Shoulder : <span id="shoulderS"></span><br>
                                Back : <span id="backS"></span><br>
                                Leg : <span id="legS"></span><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>    
                <!-- <div>
                    <form method="POST" action="{% url 'addRoutine' user.id %}">
                        {% csrf_token %}
                        <table class="table" style="margin-bottom: 0;">
                            <tbody>
                                <tr>
                                    <td><input id="work" name="work" placeholder="음식" class="form-control border-0" type="text" style="padding: 0; height: auto;" /></td>
                                    <td><input id="work" name="work" placeholder="양" class="form-control border-0" type="text" style="padding: 0; height: auto" /></td>
                                    <td><input id="work" name="work" placeholder="칼로리" class="form-control border-0" type="text" style="padding: 0; height: auto;" /></td>
                                    <td style="padding: 0; vertical-align: middle;"><button class="btn btn-primary" type="submit" style="float: right;">추가</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div> -->

                <div class="row">
                    <div class="col-12 mt-4 ">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Week's Routine</h4>
                                <table class="table" style="text-align: center;">
                                    <thead>
                                        <tr>
                                            <th scope="col">월</th>
                                            <th scope="col">화</th>
                                            <th scope="col">수</th>
                                            <th scope="col">목</th>
                                            <th scope="col">금</th>
                                            <th scope="col">토</th>
                                            <th scope="col">일</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for routine in routines %}
                                        <!-- <tr>
                                            <th scope="col">{{forloop.counter}}</th>
                                            <td>{{routine.work}}</td>
                                            <td>{{routine.work}}</td>
                                            <td>{{routine.work}}</td>
                                            <td style="padding: 0; vertical-align: middle;"><a class="btn btn-primary" href="{% url 'deleteRoutine' user_id=user.id routine_id=routine.id %}" style="float: right;">삭제</a></td>
                                        </tr> -->
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <!-- <thead>
                                                    <tr>
                                                        <th scope="col">Mon</th>
                                                        <th scope="col">Tue</th>
                                                        <th scope="col">Wed</th>
                                                        <th scope="col">Thu</th>
                                                        <th scope="col">Fri</th>
                                                        <th scope="col">Sat</th>
                                                        <th scope="col">Sun</th>
                                                    </tr>
                                                </thead> -->
                                                <tbody>
                                                    {% for routine in routines %}
                                                    <tr>
                                                        <th scope="row">{{routine.mon_work1}}</th>
                                                        <td>{{routine.tue_work1}}</td>
                                                        <td>{{routine.wed_work1}}</td>
                                                        <td>{{routine.thr_work1}}</td>
                                                        <td>{{routine.fri_work1}}</td>
                                                        <td>{{routine.sat_work1}}</td>
                                                        <td>{{routine.sun_work1}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">{{routine.mon_work2}}</th>
                                                        <td>{{routine.tue_work2}}</td>
                                                        <td>{{routine.wed_work2}}</td>
                                                        <td>{{routine.thr_work2}}</td>
                                                        <td>{{routine.fri_work2}}</td>
                                                        <td>{{routine.sat_work2}}</td>
                                                        <td>{{routine.sun_work2}}</td>
                                                        
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">{{routine.mon_work3}}</th>
                                                        <td>{{routine.tue_work3}}</td>
                                                        <td>{{routine.wed_work3}}</td>
                                                        <td>{{routine.thr_work3}}</td>
                                                        <td>{{routine.fri_work3}}</td>
                                                        <td>{{routine.sat_work3}}</td>
                                                        <td>{{routine.sun_work3}}</td>
                                                        
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <td style=" padding: 0; vertical-align: middle;"><a class="btn btn-primary" href="{% url 'deleteRoutine' user_id=user.id routine_id=routine.id %}" style="float: right;">삭제</a></td>
                                        {% endfor %}
                                    </tbody>
                                </table>
                </div>
                <div class="row">
                    <div class="col-12 mt-4 ">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Week's Routine Set</h4>
                                <form method="POST" action="{% url 'addRoutine' user.id %}">
                                    {% csrf_token %}
                                    <table class="table" style="margin-bottom: 0;">
                                        <tbody>
                                            <tr>
                                                <td>월</td>
                                                <td><input id="mon_work1" name="mon_work1" placeholder="운동1" class="form-control border-0" type="text" style="padding: 0; height: auto;" /></td>
                                                <td><input id="mon_work2" name="mon_work2" placeholder="운동2" class="form-control border-0" type="text" style="padding: 0; height: auto" /></td>
                                                <td><input id="mon_work3" name="mon_work3" placeholder="운동3" class="form-control border-0" type="text" style="padding: 0; height: auto;" /></td>
                                                <!-- <td style="padding: 0; vertical-align: middle;"><button class="btn btn-primary" type="submit" style="float: right;">추가</button></td> -->
                                            </tr>
                                            <tr>
                                                <td>화</td>
                                                <td><input id="tue_work1" name="tue_work1" placeholder="운동1" class="form-control border-0" type="text" style="padding: 0; height: auto;" /></td>
                                                <td><input id="tue_work2" name="tue_work2" placeholder="운동2" class="form-control border-0" type="text" style="padding: 0; height: auto" /></td>
                                                <td><input id="tue_work3" name="tue_work3" placeholder="운동3" class="form-control border-0" type="text" style="padding: 0; height: auto;" /></td>
                                            </tr>
                                            <tr>
                                                <td>수</td>
                                                <td><input id="wed_work1" name="wed_work1" placeholder="운동1" class="form-control border-0" type="text" style="padding: 0; height: auto;" /></td>
                                                <td><input id="wed_work2" name="wed_work2" placeholder="운동2" class="form-control border-0" type="text" style="padding: 0; height: auto" /></td>
                                                <td><input id="wed_work3" name="wed_work3" placeholder="운동3" class="form-control border-0" type="text" style="padding: 0; height: auto;" /></td>
                                            </tr>
                                            <tr>
                                                <td>목</td>
                                                <td><input id="thr_work1" name="thr_work1" placeholder="운동1" class="form-control border-0" type="text" style="padding: 0; height: auto;" /></td>
                                                <td><input id="thr_work2" name="thr_work2" placeholder="운동2" class="form-control border-0" type="text" style="padding: 0; height: auto" /></td>
                                                <td><input id="thr_work3" name="thr_work3" placeholder="운동3" class="form-control border-0" type="text" style="padding: 0; height: auto;" /></td>
                                            </tr>
                                            <tr>
                                                <td>금</td>
                                                <td><input id="fri_work1" name="fri_work1" placeholder="운동1" class="form-control border-0" type="text" style="padding: 0; height: auto;" /></td>
                                                <td><input id="fri_work2" name="fri_work2" placeholder="운동2" class="form-control border-0" type="text" style="padding: 0; height: auto" /></td>
                                                <td><input id="fri_work3" name="fri_work3" placeholder="운동3" class="form-control border-0" type="text" style="padding: 0; height: auto;" /></td>
                                            </tr>
                                            <tr>
                                                <td>토</td>
                                                <td><input id="sat_work1" name="sat_work1" placeholder="운동1" class="form-control border-0" type="text" style="padding: 0; height: auto;" /></td>
                                                <td><input id="sat_work2" name="sat_work2" placeholder="운동2" class="form-control border-0" type="text" style="padding: 0; height: auto" /></td>
                                                <td><input id="sat_work3" name="sat_work3" placeholder="운동3" class="form-control border-0" type="text" style="padding: 0; height: auto;" /></td>
                                            </tr>
                                            <tr>
                                                <td>일</td>
                                                <td><input id="sun_work1" name="sun_work1" placeholder="운동1" class="form-control border-0" type="text" style="padding: 0; height: auto;" /></td>
                                                <td><input id="sun_work2" name="sun_work2" placeholder="운동2" class="form-control border-0" type="text" style="padding: 0; height: auto" /></td>
                                                <td><input id="sun_work3" name="sun_work3" placeholder="운동3" class="form-control border-0" type="text" style="padding: 0; height: auto;" /></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <td style="padding: 0; vertical-align: middle;"><button class="btn btn-primary" type="submit" style="float: right;">추가</button></td>

                                </form>
                            </div>
                            </div>
                        </div>
                        </div>
                        </div>
                    </div>
                </div>
                <script>
                    function calRoutine(){
                        var purpose_length = document.getElementsByName("purpose").length;
                        var frequency_length = document.getElementsByName("frequency").length;
                        var wanted_length = document.getElementsByName("wanted").length;

                        for(var i = 0; i < purpose_length; i++){
                            if(document.getElementsByName("purpose")[i].checked == true){
                                var main_purpose = document.getElementsByName("purpose")[i].value;
                                document.getElementById("main_purpose").innerHTML = main_purpose;
                            }
                        }

                        for (var i = 0; i < frequency_length; i++){
                            if(document.getElementsByName("frequency")[i].checked == true){
                                var main_frequency = document.getElementsByName("frequency")[i].value;
                                document.getElementById("main_frequency").innerHTML = main_frequency;
                            }
                        }

                        // for (var i = 0; i < wanted_length; i++){
                        //     if(document.getElementsByName("wanted")[i].checked == true){
                        //         var wanted = []; var j = 0;
                        //         wanted[j] = document.getElementsByName("wanted")[i].value; 
                        //         // console.log(wanted[j]);
                        //         document.getElementById("main_wanted").innerHTML = wanted[j]; j++;
                        //     }
                        // }

                        // 체크된 속성값에 따라 운동 루틴을 설정해줌
                        var exe = []; var idx = 0;
                        var chest_select, shoulder_select, back_select, leg_select;
                        var chest = ['벤치프레스','푸시업'];
                        var shoulder = ['숄더프레스','플란체 푸시업'];
                        var back = ['데드리프트','풀업'];
                        var leg = ['스쿼트','런지'];

                        // 주 3회 운동시 9개
                        if(main_frequency == "frequency1"){
                            console.log("test1");
                            // 운동 목적이 근육증가
                            if(main_purpose == "purpose1"){
                                exe[0] = chest[0]; exe[1] = shoulder[0]; exe[2] = back[0];
                                exe[3] = leg[0]; exe[4] = chest[0]; exe[5] = shoulder[0];
                                exe[6] = back[0]; exe[7] = leg[0]; exe[8] = chest[0];
                                chest_select = "벤치프레스"
                                shoulder_select = "숄더프레스"
                                back_select = "데드리프트"
                                leg_select = "스쿼트"
                            }
                            // 운동 목적이 가벼움
                            else if (main_purpose == "purpose2" || main_purpose == "purpose3"){
                                exe[0] = chest[1]; exe[1] = shoulder[1]; exe[2] = back[1];
                                exe[3] = leg[1]; exe[4] = chest[1]; exe[5] = shoulder[1];
                                exe[6] = back[1]; exe[7] = leg[1]; exe[8] = chest[1];
                                chest_select = "푸시업"
                                shoulder_select = "플란체 푸시업"
                                back_select = "풀업"
                                leg_select = "런지"
                            }

                        }

                        // 주 4회 운동시 12개
                        else if(main_frequency == "frequency2"){
                            console.log("test2");
                            // 운동 목적이 근육증가
                            if(main_purpose == "purpose1"){
                                exe[0] = chest[0]; exe[1] = shoulder[0]; exe[2] = back[0];
                                exe[3] = leg[0]; exe[4] = chest[0]; exe[5] = shoulder[0];
                                exe[6] = back[0]; exe[7] = leg[0]; exe[8] = chest[0];
                                exe[9] = shoulder[0]; exe[10] = back[0]; exe[11] = leg[0];
                                chest_select = "벤치프레스"
                                shoulder_select = "숄더프레스"
                                back_select = "데드리프트"
                                leg_select = "스쿼트"
                            }
                            // 운동 목적이 가벼움
                            else if (main_purpose == "purpose2" || main_purpose == "purpose3"){
                                exe[0] = chest[1]; exe[1] = shoulder[1]; exe[2] = back[1];
                                exe[3] = leg[1]; exe[4] = chest[1]; exe[5] = shoulder[1];
                                exe[6] = back[1]; exe[7] = leg[1]; exe[8] = chest[1];
                                exe[9] = shoulder[1]; exe[10] = back[1]; exe[11] = leg[1];
                                chest_select = "푸시업"
                                shoulder_select = "플란체 푸시업"
                                back_select = "풀업"
                                leg_select = "런지"
                            }
                        }

                        // 주 5회 운동시 15개
                        else if(main_frequency == "frequency3"){
                            console.log("test3");
                            // 운동 목적이 근육증가
                            if(main_purpose == "purpose1"){
                                exe[0] = chest[0]; exe[1] = shoulder[0]; exe[2] = back[0];
                                exe[3] = leg[0]; exe[4] = chest[0]; exe[5] = shoulder[0];
                                exe[6] = back[0]; exe[7] = leg[0]; exe[8] = chest[0];
                                exe[9] = shoulder[0]; exe[10] = back[0]; exe[11] = leg[0];
                                exe[12] = chest[0]; exe[13] = shoulder[0]; exe[14] = back[0];
                                chest_select = "벤치프레스"
                                shoulder_select = "숄더프레스"
                                back_select = "데드리프트"
                                leg_select = "스쿼트"
                            }
                            // 운동 목적이 가벼움
                            else if (main_purpose == "purpose2" || main_purpose == "purpose3"){
                                exe[0] = chest[1]; exe[1] = shoulder[1]; exe[2] = back[1];
                                exe[3] = leg[1]; exe[4] = chest[1]; exe[5] = shoulder[1];
                                exe[6] = back[1]; exe[7] = leg[1]; exe[8] = chest[1];
                                exe[9] = shoulder[1]; exe[10] = back[1]; exe[11] = leg[1];
                                exe[12] = chest[1]; exe[13] = shoulder[1]; exe[14] = back[1];
                                chest_select = "푸시업"
                                shoulder_select = "플란체 푸시업"
                                back_select = "풀업"
                                leg_select = "런지"
                            }
                        }

                        // for (var i = 0 ; i < exe.length; i++){
                        //     document.write(exe[i]+"<br>");
                        //     console.log(exe[i]);
                        //     // document.getElementById('print').innerHTML = exe[i];
                        // }

                        document.getElementById("chestS").innerHTML = chest_select;
                        document.getElementById("shoulderS").innerHTML = shoulder_select;
                        document.getElementById("backS").innerHTML = back_select;
                        document.getElementById("legS").innerHTML = leg_select;
                        
                    }
                </script>
                <!-- <div id="main_purpose"></div> 
                <div id="main_frequency"></div>
                <div id="main_wanted"></div> -->
                

            </div>
        </div>


        <div id = "main_purpose" style="visibility: hidden;"></div>
        <div id = "main_frequency" style="visibility: hidden;"></div>








            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <div class="chat-windows "></div>
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %} "></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'assets/libs/popper.js/dist/umd/popper.min.js' %} "></script>
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.min.js' %} "></script>
    <!-- apps -->
    <script src="{% static 'dist/js/app.min.js' %} "></script>
    <script src="{% static 'dist/js/app.init-menusidebar.js' %}"></script>
    <script src="{% static 'dist/js/app-style-switcher.js' %} "></script>
    <script src="{% static 'dist/js/feather.min.js' %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static 'assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %} "></script>
    <script src="{% static 'assets/extra-libs/sparkline/sparkline.js' %} "></script>
    <!-- theme js -->
    <!--Menu sidebar -->
    <script src="{% static 'dist/js/sidebarmenu.js' %} "></script>
    <!--Custom JavaScript -->
    <script src="{% static 'dist/js/custom.min.js' %} "></script>
    <script src="{% static 'js/data.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/func.js' %}" charset="utf-8"></script>
    <script src="js/data.js" charset="utf-8"></script>
    <script src="js/func.js" charset="utf-8"></script>
</body>

</html>