<aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar" data-sidebarbg="skin6">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="{% url 'home' %}"
                        aria-expanded="false"><i data-feather="home" class="feather-icon"></i><span
                            class="hide-menu">Home</span></a></li>

                <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="{% url 'community' %}"
                        aria-expanded="false"><i data-feather="star" class="feather-icon"></i><span
                                class="hide-menu">Community</span></a></li>
            
                <li class="list-divider"></li>
                <li class="nav-small-cap"><span class="hide-menu">Information for you</span></li>
                <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                        aria-expanded="false"><i data-feather="list" class="feather-icon"></i><span
                            class="hide-menu">가슴 </span></a>
                    <ul aria-expanded="false" class="collapse  first-level base-level-line">
                        <li class="sidebar-item"><a href="{% url 'chest' %}" class="sidebar-link"><span
                                    class="hide-menu"> Bench press
                                </span></a>
                        </li>
                        <li class="sidebar-item"><a href="#" class="sidebar-link"><span
                                    class="hide-menu"> Dumbbell press
                                </span></a>
                        </li>
                        <li class="sidebar-item"><a href="#" class="sidebar-link"><span
                                    class="hide-menu"> Push up
                                </span></a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                        aria-expanded="false"><i data-feather="list" class="feather-icon"></i><span
                            class="hide-menu">어깨 </span></a>
                    <ul aria-expanded="false" class="collapse  first-level base-level-line">
                        <li class="sidebar-item"><a href="{% url 'shoulder' %}" class="sidebar-link"><span
                                    class="hide-menu"> Shoulder press
                                </span></a>
                        </li>
                        <li class="sidebar-item"><a href="#" class="sidebar-link"><span
                                    class="hide-menu"> Bebind the neck press
                                </span></a>
                        </li>
                        <li class="sidebar-item"><a href="#" class="sidebar-link"><span
                                    class="hide-menu"> Front raise
                                </span></a>
                        </li>
                        <li class="sidebar-item"><a href="#" class="sidebar-link"><span
                                    class="hide-menu"> Side lateral raise
                                </span></a>
                        </li>
                        <li class="sidebar-item"><a href="#" class="sidebar-link"><span
                                    class="hide-menu"> Planche push up
                                </span></a>
                        </li>
                    </ul>
                </li>
                
                <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                        aria-expanded="false"><i data-feather="list" class="feather-icon"></i><span
                            class="hide-menu">등 </span></a>
                    <ul aria-expanded="false" class="collapse  first-level base-level-line">
                        <li class="sidebar-item"><a href="{% url 'back' %}" class="sidebar-link"><span
                                    class="hide-menu"> Dead lift
                                </span></a>
                        </li>
                        <li class="sidebar-item"><a href="#" class="sidebar-link"><span
                                    class="hide-menu"> Barbell row
                                </span></a>
                        </li>
                        <li class="sidebar-item"><a href="#" class="sidebar-link"><span
                                    class="hide-menu">
                                    Pull up
                                </span></a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                    aria-expanded="false"><i data-feather="list" class="feather-icon"></i><span
                        class="hide-menu">하체 </span></a>
                <ul aria-expanded="false" class="collapse  first-level base-level-line">
                    <li class="sidebar-item"><a href="{% url 'leg' %}" class="sidebar-link"><span
                                class="hide-menu"> Squat
                            </span></a>
                    </li>
                    <li class="sidebar-item"><a href="#" class="sidebar-link"><span
                                class="hide-menu"> Lunge
                            </span></a> 
                    </li>
                </ul>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                    aria-expanded="false"><i data-feather="list" class="feather-icon"></i><span
                        class="hide-menu">이두 </span></a>
                <ul aria-expanded="false" class="collapse  first-level base-level-line">
                    <li class="sidebar-item"><a href="{% url 'arm' %}" class="sidebar-link"><span
                                class="hide-menu"> Barbell curl
                            </span></a>
                    </li>
                    <li class="sidebar-item"><a href="#" class="sidebar-link"><span
                                class="hide-menu"> Dumbbell curl
                            </span></a>
                    </li>
                    <li class="sidebar-item"><a href="#" class="sidebar-link"><span
                                class="hide-menu">
                                Hammer curl
                            </span></a>
                    </li>
                </ul>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                    aria-expanded="false"><i data-feather="list" class="feather-icon"></i><span
                        class="hide-menu">삼두 </span></a>
                <ul aria-expanded="false" class="collapse  first-level base-level-line">
                    <li class="sidebar-item"><a href="{% url 'backArm' %}" class="sidebar-link"><span
                                class="hide-menu"> Dips
                            </span></a>
                    </li>
                    <li class="sidebar-item"><a href="#" class="sidebar-link"><span
                                class="hide-menu"> Triceps Extension
                            </span></a>
                    </li>
                </ul>
                </li>
                <li class="list-divider"></li>
                <li class="nav-small-cap"><span class="hide-menu">set plan</span></li>
            
                <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="{% url 'setRoutine' %}"
                        aria-expanded="false"><i data-feather="server" class="feather-icon"></i><span
                            class="hide-menu">나만의 운동 루틴
                        </span></a>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link sidebar-link"
                        href="{% url 'diet' user.id %}" aria-expanded="false"><i data-feather="info"
                            class="feather-icon"></i><span class="hide-menu">나만의 식단 관리
                        </span></a>
                </li>
                <li class="list-divider"></li>
                <li class="nav-small-cap"><span class="hide-menu">Authentication</span></li>
            
                <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="{% url 'login' %}"
                        aria-expanded="false"><i data-feather="lock" class="feather-icon"></i><span
                            class="hide-menu">로그인
                        </span></a>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link sidebar-link"
                        href="{% url 'signup' %}" aria-expanded="false"><i data-feather="lock"
                            class="feather-icon"></i><span class="hide-menu">회원가입
                        </span></a>
                </li>
            
                <li class="list-divider"></li>
                <li class="nav-small-cap"><span class="hide-menu">Extra</span></li>
                <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="{% url 'logout' %}"
                        aria-expanded="false"><i data-feather="log-out" class="feather-icon"></i><span
                            class="hide-menu">로그아웃</span></a></li>
            </ul>
        </nav>            <!-- End Sidebar scroll-->
</aside>     